@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

body {
  margin: 0;
  padding: 0;
}

.nav {  
  position: fixed;
  cursor: pointer;
  top : 0;
  width: 100%;
  border-bottom: 1.5px solid #000;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #000;
  z-index: 999;
  color:#FFF;
}

.footer {
  position: fixed;
  cursor: pointer;
  bottom : 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid rgb(151, 151, 151);
  text-align: center;
  margin: auto;
  padding-top: 5px;
  background: rgba(255,255,255,0.8);
  z-index: 999;
  color:#000;
}

.footer-menu {
  display: inline-block;
  width: 20%;
  margin: auto;
}
.footer-icon {
  display: inline-block;
}
.footer-icon img {
  display: block;
}

.footer-logo {
  width: 20px;
}

.footer-name {
  color : rgb(150, 150, 150);
  font-size: 7pt;
  text-align: center;
}

.logo {
  vertical-align: middle;
  width: 30px;
}

.head {
  font-size: 15px;
}

.carousel {
  border-bottom: 1.5px solid #000;
}

.title {
  padding-left: 5px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  border-left: 3px solid #000;
}

.blank{
  padding:28px;
}

.item > img {
  height: 300px !important;
  width: 100%;
}

.item-active > img {
  height: 300px !important;
  width: 100%;
}

table{
  width:100%;
  text-align: center;
  border-collapse: collapse;
}

thead{
  border-bottom: 1px solid #000;
  background-color: #f9f9f9;
}

th{
  text-align: center;
}

td{
  text-align: center;
}

